.footer {
    background: #003E84;

    &__wrap {
        position: relative;

        padding-top: 77px !important;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -139px;

            width: 582px;
            height: 395px;

            background: url(../img/footer/Mask-Group-6.svg) center/cover no-repeat;
        }
    }

    &__logo {
        width: 257px;
        height: 51px;

        margin-bottom: 72px;
        background: url(../img/logo/logo-white.svg) center/cover no-repeat;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        padding-bottom: 100px;
    }

    &__content_title {
        margin-bottom: 30px;
        line-height: 30px;

        font-family: "Prompt-Regular";
        font-size: 20px;
        color: #FFBC21;
    }

    &__content_column {
        display: flex;
    }

    &__content_list {
        margin-right: 100px;

        &:last-child {
            margin-right: 0;
        }

        &-text {
            display: table;

            margin-bottom: 18px;

            font-family: "Roboto-Regular";
            font-size: 16px;
            color: #FFFFFF;
        }
    }

    &__content:last-child {
        padding-right: 25px;

        .footer__content {
            &_list-text {
                width: 245px;
                line-height: 22px;
                margin-bottom: 30px;
            }
            &_title {
                margin-bottom: 27px;
            }
            &_column {
                display: inherit;
            }
        }

        .contacts {
            display: table;
            margin-left: inherit;

            &_tel {
                font-family: "Prompt-Light";
                line-height: 54px;
                color: #FFBC21;
            }

            &_mail{
                font-family: "Roboto-Regular";
                color: white;
            }
        }
    }

    &__content_link-facebook {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 282px;
        height: 50px;

        padding-left: 15px;
        margin-top: 48px;
        border: 1px solid #ffffff6c;
        border-radius: 29px;

        font-family: "Roboto-Regular";
        font-size: 15px;
        color: #FFFFFF;

        &::before {
            content: '';
            position: absolute;
            left: 20px;

            width: 14px;
            height: 28px;

            background: url(../img/footer/facebook.svg) center/cover no-repeat;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-bottom: 48px;

        &_copyright {
            display: flex;

            &-text a:first-child {
                margin-right: 12px;
            }

            &-text:nth-child(2) {
                margin-right: 55px;
            }
        }

        &_development-text, &_copyright-text, &_copyright-text a {
            font-family: "Roboto-Regular";
            font-size: 14px;
            color: #5987BB;
        }

        &_development {
            display: flex;
            width: max-content;

            &-text {
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                margin-right: 11px;
            }

            &-logo {
                display: block;

                width: 175px;
                height: 26px;
    
                background: url(../img/logo/logo-development.svg) center/cover no-repeat;
            }
        }
    }
}