.footer {
    background-color: #121216;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 30px 10px 30px;
    }

    &__logo {
        display: block;
        width: 140px;
        height: 63px;
        background-color: #376b8f;
    }

    &__text {
        font-family: 'Rubik-Light';
        color: #92929c;
        font-size: 17px;
    }

    &__list {
        display: flex;
        &_item {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
}