@font-face {
    font-family: "Arvo-Regular";
    font-display: swap;
    src: url("../fonts/Arvo-Regular.woff") format("woff"), url("../fonts/Arvo-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Arvo-Bold";
    font-display: swap;
    src: url("../fonts/Arvo-Bold.woff") format("woff"), url("../fonts/Arvo-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Prompt-Regular";
    font-display: swap;
    src: url("../fonts/Prompt-Regular.woff") format("woff"), url("../fonts/Prompt-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Prompt-Light";
    font-display: swap;
    src: url("../fonts/Prompt-Light.woff") format("woff"), url("../fonts/Prompt-Light.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Roboto-Regular";
    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Roboto-Medium";
    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}